body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*USERBAR*//*USERBAR*//*USERBAR*//*USERBAR*//*USERBAR*//*USERBAR*//*USERBAR*//*USERBAR*//*USERBAR*//*USERBAR*//*USERBAR*//*USERBAR*//*USERBAR*//*USERBAR*//*USERBAR*/
#mov{
  position: absolute;
  top: 10%;
}
.userbar{
  width: 100%;
  position: fixed;
  top: 0;
  height: 25px;
  opacity: 0.5;
  background-color: white;
  display: flex;
  flex-direction: row;
  color: black;

}

.userbarid{
margin-left: 20px;
margin: 5px;
}

.userbarname{
  margin-left: 20px;
  margin: 5px;
  font-weight: bolder;
}

/*FRONT PAGE*//*FRONT PAGE*//*FRONT PAGE*//*FRONT PAGE*//*FRONT PAGE*//*FRONT PAGE*//*FRONT PAGE*//*FRONT PAGE*//*FRONT PAGE*//*FRONT PAGE*//*FRONT PAGE*//*FRONT PAGE*/

.frontpage{
  background-image: url('./images/icecream.jpg');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1{
  /*IMPORTANT THSESE TOP TWO*/
    background-clip: text;
    color: transparent;
  /*IMPORTANT THSESE TOP TWO*/
  
    font-family: 'Fascinate Inline';
  background-size: 100%;
  background-image: linear-gradient( white,#87f1ff );
  filter: drop-shadow(2px 9px #0085a3);
  font-size: 70px;
  font-weight: 400;
  
  }

  .spanish{
    /*IMPORTANT THSESE TOP TWO*/
    background-clip: text;
    color: transparent;
    /*IMPORTANT THSESE TOP TWO*/
    background-image: linear-gradient(yellow 45%, red 70%);
    font-family: 'Fascinate Inline';
    background-size: 100%;
    filter: drop-shadow(2px 2px #0085a3);
    font-size: 70px;
    font-weight: 400;
    }

    #icecreamicon{
      background-clip: text;
      color: transparent;
      background-image: linear-gradient(0deg,red 0%,  yellow 45%, red 100%);
      cursor: pointer;
      
      box-shadow: 0 1px 2px rgba(0,0,0,0.17), 
      0 2px 4px rgba(0,0,0,0.17), 
      0 4px 8px rgba(0,0,0,0.17), 
      0 8px 16px rgba(0,0,0,0.17),
      0 16px 32px rgba(0,0,0,0.17), 
      0 32px 64px rgba(0,0,0,0.17);
}


#icecreamicon:active{
 transform: scale(96%);
}

    h3{
      transform: translateY(-130px);
      pointer-events: none;
    }

    /*FORM FRONT PAGE*/ /*FORM FRONT PAGE*/ /*FORM FRONT PAGE*/ /*FORM FRONT PAGE*/ /*FORM FRONT PAGE*/ /*FORM FRONT PAGE*/ /*FORM FRONT PAGE*/ /*FORM FRONT PAGE*/

    .userform{
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      font-family: 'press start 2p';
      background-color: rgb(44, 43, 43);
      color: rgb(0, 150, 0, 0.75);
      width: 100%;
      font-size: 1.5rem;
      background-image: radial-gradient(
        rgba(0, 150, 0, 0.25), black 120%
      );
    }
    
    ::placeholder{
      color: rgb(0, 150, 0, 0.75);
    }
    .usernameinput{
      height: 40px;
      width: 50%;
      color: rgb(0, 150, 0, 0.75);
      font-size: 1.5rem;
      font-family: 'press start 2p';
    }
    
    .username{
      padding: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 40px;
    }
    .avail{
      padding-left: 60px;
    
    }
    .age{
      padding-top: 30px;
      padding-left: 60px;
    }
    .radioanswers{
      padding-left: 60px;;
    }
    .radio{
      padding-bottom: 50px;
    }
    
    .circle{
      padding-left: 50px;
    }
    .dot{
      transform: scale(2)  ;  
    }
    .labels{
      padding-top: 30px;
      padding-left: 60px;
    }
    
    .selectcountry{
      margin-left: 60px;
    width: 50%;
    height: 50px;
    font-size: 1.5rem;
    font-family: 'press start 2p';
    color:rgb(0, 150, 0, 0.75);
    margin-bottom: 100px;
    }
    
    .petanswers{
      margin-left: 60px;
    }
    
    #cat{
      margin-top: 50px;
    }
    .colour{
      margin-top: 50px;
    
      margin-left: 60px;
    }
    
    .slidingtext{
      margin-left: 60px;
      margin-top: 100px;
    }
    
    .slider{
      margin-bottom: 100px;
      margin-left: 60px;
      margin-right: 60px;
      background-color: green;
      height: 30px;
    
      -webkit-appearance: none;
    
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      /* background: #04AA6D; */
      background: red;
      cursor: pointer;
    }
    
    .submitform{
      width: 40%;
      align-self: center;
      margin-top: 200px;
      margin-bottom: 300px;
      font-size: 5rem;
      font-weight: 900;
      font-family: 'press start 2p';
      color: rgb(0, 150, 0, 0.75);
      background: rgb(44, 43, 43);
    }
    
    #thumb{
      color: blue;
      background-color: rgba(0, 0, 0, 0.5);
    }

     /*PETS*/   /*PETS*/   /*PETS*/   /*PETS*/   /*PETS*/   /*PETS*/   /*PETS*/   /*PETS*/   /*PETS*/   /*PETS*/   /*PETS*/   /*PETS*/   /*PETS*/   /*PETS*/   /*PETS*/ 
     .pets{
      background-image: url('./images/catndog.jpg');
      height: 100vh;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-evenly
     }
     .h2questions{
       margin-bottom: 100px;
       font-size: 3rem;
       color:black;
       background-color: blanchedalmond;
       opacity: 0.5;
      
     }
     .circlequestions{
      padding-left: 50px;
      padding-right: 50px;
      font-size: 3rem;
      background-color: blanchedalmond;
      opacity: 0.5;
      transform: translateY(200px);
    }
    .dotquestions{
      transform: scale(3)  ;  
    }

    /*PINEAPPLE*/ /*PINEAPPLE*/ /*PINEAPPLE*/ /*PINEAPPLE*/ /*PINEAPPLE*/ /*PINEAPPLE*/ /*PINEAPPLE*/ /*PINEAPPLE*/ /*PINEAPPLE*/ /*PINEAPPLE*/ 

    .pineapple{
      background-image: url('./images/pizza.jpg');
      height: 100vh;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-evenly
     }
    .colour{
      margin-top: 50px;
      margin-left: 60px;
      font-size: 3rem;
      background-color: blanchedalmond;
      opacity: 0.5;
    }
    
    .slidingtext{
      margin-left: 60px;
      margin-top: 100px;
      font-size: 3rem;
      background-color: blanchedalmond;
      opacity: 0.5;
    }
    
    .slider{
      width: 80%;
      margin-bottom: 100px;
      margin-left: 60px;
      margin-right: 60px;
      background-color: green;
      height: 30px;
    
      -webkit-appearance: none;
    
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      background: #04AA6D;
      cursor: pointer;
    }
    
    /*COLOUR*/ /*COLOUR*//*COLOUR*//*COLOUR*//*COLOUR*//*COLOUR*//*COLOUR*//*COLOUR*//*COLOUR*//*COLOUR*//*COLOUR*//*COLOUR*//*COLOUR*//*COLOUR*//*COLOUR*//*COLOUR*/

    .colours{
      background-image: url('./images/colours.jpg');
      height: 100vh;
      background-size: contain;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-evenly
     }


         /*QUIZ*/   /*QUIZ*/   /*QUIZ*/   /*QUIZ*/   /*QUIZ*/   /*QUIZ*/   /*QUIZ*/   /*QUIZ*/   /*QUIZ*/   /*QUIZ*/   /*QUIZ*/   /*QUIZ*/   /*QUIZ*/   /*QUIZ*/  
.quiz{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url('./images/icecreambackground.png');
  background-size: cover;
  padding-bottom: 100px;
}

#padlock{
  color: blue;
  cursor: pointer;
}
#padlock:hover{
  color: yellow;
  cursor: pointer;
  transform: scale(85%);
}
#padlock:active{
  color: red;
  cursor: pointer;
  transform: scale(95%);
}

#submit{
  margin-top: 30px;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(0deg,red 0%,  yellow 45%, red 100%);
  cursor: pointer;
  
  box-shadow: 0 1px 2px rgba(0,0,0,0.17), 
  0 2px 4px rgba(0,0,0,0.17), 
  0 4px 8px rgba(0,0,0,0.17), 
  0 8px 16px rgba(0,0,0,0.17),
  0 16px 32px rgba(0,0,0,0.17), 
  0 32px 64px rgba(0,0,0,0.17);
}
#submit:hover{
  background-clip: text;
  color: yellow;
  background-image: linear-gradient(0deg,red 0%,  yellow 45%, red 100%);
  cursor: pointer;  
  transform: scale(95%);

}
#submit:hover{
  transform: scale(95%);
color: red;
}

#next{
  color: yellow;
  margin-top: 30px;
}
#next:hover{
  color: yellow;
  transform: scale(95%);
}
#next:active{
  color: red;
  transform: scale(95%);
}

.screenface{
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-content: center !important;
  justify-items: center !important;
  align-items: center !important;
  background-size: cover;
  background-position: right;
}

.questiontext{
  margin-top: 30px;
  margin-bottom: 20px;
  color: white;
}

/*START- NEXT BUTTONS*/
.start, .nextbutton{
  position: relative;
  cursor: pointer;
  background: linear-gradient(180deg, white, #ffcc91);
  border: 2px solid #d38558;
  box-shadow: 0px 5px 10px rgba(0,0,0, 0.5);
  margin: 0;
  height: 40px;
  padding: 0 40px;
  border-radius: 50px 50px;
  font-family: 'reenie beanie';
  font-size: 2rem;
}

.start{
  margin-bottom: 300px;
  font-size: 100px;
  height: 150px;
}

.start:active, .nextbutton:active, .lockinorderbutton:active{
  transform: scale(0.97) !important;
  transform: translateY(2px);
  color: red;

}

/*SCORE DISPLAY*//*SCORE DISPLAY*//*SCORE DISPLAY*//*SCORE DISPLAY*//*SCORE DISPLAY*//*SCORE DISPLAY*//*SCORE DISPLAY*//*SCORE DISPLAY*//*SCORE DISPLAY*//*SCORE DISPLAY*/

.scoredisplay{
  position: relative;


  display: flex;
  flex-direction: column;
  align-items: center;
  
    margin: 7% auto;
    border: tan solid 12px;
    border-top: #bda27e solid 12px;
    border-left: #b19876 solid 12px;
    border-bottom: #c9ad86 solid 12px;
    box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782, 0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
    background-image: radial-gradient( circle at left 30%, rgba(34, 34, 34, 0.3), rgba(34, 34, 34, 0.3) 80px, rgba(34, 34, 34, 0.5) 100px, rgba(51, 51, 51, 0.5) 160px, rgba(51, 51, 51, 0.5)), linear-gradient( 215deg, transparent, transparent 100px, #222 260px, #222 320px, transparent), radial-gradient( circle at right, #111, rgba(51, 51, 51, 1));
    background-color: #333;

}

.score{
  font-size: 2rem;
  color: #fff;
  font-family: 'permanent marker';
  letter-spacing: 1px;
  padding-left: 30px;
  padding-right: 30px;
}

.questionnumber{
  margin-right: 20px;
  padding-top: 10px;
  font-family: 'permanent marker';
  color: salmon;
  letter-spacing: 1px;
  font-size: 1.2rem;

}


.questiontype{
  margin-left: 20px;
  padding-top: 10px;
  font-family: 'permanent marker';
  color: salmon;
  letter-spacing: 1px;
  font-size: 1.2rem;

}

.todayslesson{
  align-self: start;
  color: #0085a3;
  font-family: 'permanent marker';
  margin-top: 0;
  letter-spacing: 1px;
  font-size: 1.8rem;

}







/*SELECTED - DISABLED - CORRECT - INCORRECT*//*SELECTED - DISABLED - CORRECT - INCORRECT*//*SELECTED - DISABLED - CORRECT - INCORRECT*//*SELECTED - DISABLED - CORRECT -INCORRECT*/
.selected{
  border: 5px solid goldenrod;
  outline:2px solid greenyellow;
}

.disabled{
  pointer-events: none;
  opacity: 0.7;
}
.correct{
  background: linear-gradient(90deg, #56FFA4, #59BC86) !important;
}
.incorrect{
  background: linear-gradient(90deg, #FF5656, #C16868) !important;
}

 /*EACH QUESTION BUTTON*/ /*EACH QUESTION BUTTON*/ /*EACH QUESTION BUTTON*/ /*EACH QUESTION BUTTON*/ /*EACH QUESTION BUTTON*/ /*EACH QUESTION BUTTON*/ /*EACH QUESTION BUTTON*/

.multiplechoicebutton{    /*EACH QUESTION BUTTON*/
  padding: 25px;
  margin: 10px;
  width: 70%;
  transform: translateY(2px);
  border-radius: 15px;
  cursor: pointer;
}      

.multiplechoicebutton:hover{
  transform: scale(0.97) !important;
  border: 10px solid yellow;
  transition: .4s;
  background: #FFF;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.26);
}

























.marvel-device{display:inline-block;position:relative;-webkit-box-sizing:content-box !important;box-sizing:content-box !important}.marvel-device .screen{width:100%;position:relative;height:100%;z-index:3;overflow:hidden;display:block;border-radius:1px;-webkit-box-shadow:0 0 0 3px #111;box-shadow:0 0 0 3px #111}.marvel-device .top-bar,.marvel-device .bottom-bar{height:3px;background:black;width:100%;display:block}.marvel-device .middle-bar{width:3px;height:4px;top:0px;left:90px;background:black;position:absolute}.marvel-device.iphone8{width:375px;height:667px;padding:105px 24px;background:#d9dbdc;border-radius:56px;-webkit-box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.2);box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.2)}.marvel-device.iphone8:before{width:calc(100% - 12px);height:calc(100% - 12px);position:absolute;top:6px;content:'';left:6px;border-radius:50px;background:#f8f8f8;z-index:1}.marvel-device.iphone8:after{width:calc(100% - 16px);height:calc(100% - 16px);position:absolute;top:8px;content:'';left:8px;border-radius:48px;-webkit-box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.1),inset 0 0 6px 3px #fff;box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.1),inset 0 0 6px 3px #fff;z-index:2}.marvel-device.iphone8 .home{border-radius:100%;width:68px;height:68px;position:absolute;left:50%;margin-left:-34px;bottom:22px;z-index:3;background:#303233;background:linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%)}.marvel-device.iphone8 .home:before{background:#f8f8f8;position:absolute;content:'';border-radius:100%;width:calc(100% - 8px);height:calc(100% - 8px);top:4px;left:4px}.marvel-device.iphone8 .top-bar{height:14px;background:#bfbfc0;position:absolute;top:68px;left:0}.marvel-device.iphone8 .bottom-bar{height:14px;background:#bfbfc0;position:absolute;bottom:68px;left:0}.marvel-device.iphone8 .sleep{position:absolute;top:190px;right:-4px;width:4px;height:66px;border-radius:0px 2px 2px 0px;background:#d9dbdc}.marvel-device.iphone8 .volume{position:absolute;left:-4px;top:188px;z-index:0;height:66px;width:4px;border-radius:2px 0px 0px 2px;background:#d9dbdc}.marvel-device.iphone8 .volume:before{position:absolute;left:2px;top:-78px;height:40px;width:2px;border-radius:2px 0px 0px 2px;background:inherit;content:'';display:block}.marvel-device.iphone8 .volume:after{position:absolute;left:0px;top:82px;height:66px;width:4px;border-radius:2px 0px 0px 2px;background:inherit;content:'';display:block}.marvel-device.iphone8 .camera{background:#3c3d3d;width:12px;height:12px;position:absolute;top:24px;left:50%;margin-left:-6px;border-radius:100%;z-index:3}.marvel-device.iphone8 .sensor{background:#3c3d3d;width:16px;height:16px;position:absolute;top:49px;left:134px;z-index:3;border-radius:100%}.marvel-device.iphone8 .speaker{background:#292728;width:70px;height:6px;position:absolute;top:54px;left:50%;margin-left:-35px;border-radius:6px;z-index:3}.marvel-device.iphone8.gold{background:#f9e7d3}.marvel-device.iphone8.gold .top-bar,.marvel-device.iphone8.gold .bottom-bar{background:white}.marvel-device.iphone8.gold .sleep,.marvel-device.iphone8.gold .volume{background:#f9e7d3}.marvel-device.iphone8.gold .home{background:#cebba9;background:linear-gradient(135deg, #cebba9 0%, #f9e7d3 50%, #cebba9 100%)}.marvel-device.iphone8.black{background:#464646;-webkit-box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.7);box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.7)}.marvel-device.iphone8.black:before{background:#080808}.marvel-device.iphone8.black:after{-webkit-box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.1),inset 0 0 6px 3px #212121;box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.1),inset 0 0 6px 3px #212121}.marvel-device.iphone8.black .top-bar,.marvel-device.iphone8.black .bottom-bar{background:#212121}.marvel-device.iphone8.black .volume,.marvel-device.iphone8.black .sleep{background:#464646}.marvel-device.iphone8.black .camera{background:#080808}.marvel-device.iphone8.black .home{background:#080808;background:linear-gradient(135deg, #080808 0%, #464646 50%, #080808 100%)}.marvel-device.iphone8.black .home:before{background:#080808}.marvel-device.iphone8.landscape{padding:24px 105px;height:375px;width:667px}.marvel-device.iphone8.landscape .sleep{top:100%;border-radius:0px 0px 2px 2px;right:190px;height:4px;width:66px}.marvel-device.iphone8.landscape .volume{width:66px;height:4px;top:-4px;left:calc(100% - 188px - 66px);border-radius:2px 2px 0px 0px}.marvel-device.iphone8.landscape .volume:before{width:40px;height:2px;top:2px;right:-78px;left:auto;border-radius:2px 2px 0px 0px}.marvel-device.iphone8.landscape .volume:after{left:-82px;width:66px;height:4px;top:0;border-radius:2px 2px 0px 0px}.marvel-device.iphone8.landscape .top-bar{width:14px;height:100%;left:calc(100% - 68px -  14px);top:0}.marvel-device.iphone8.landscape .bottom-bar{width:14px;height:100%;left:68px;top:0}.marvel-device.iphone8.landscape .home{top:50%;margin-top:-34px;margin-left:0;left:22px}.marvel-device.iphone8.landscape .sensor{top:134px;left:calc(100% - 49px - 16px)}.marvel-device.iphone8.landscape .speaker{height:70px;width:6px;left:calc(100% - 54px - 6px);top:50%;margin-left:0px;margin-top:-35px}.marvel-device.iphone8.landscape .camera{left:calc(100% - 32px);top:50%;margin-left:0px;margin-top:-5px}.marvel-device.iphone8plus{width:414px;height:736px;padding:112px 26px;background:#d9dbdc;border-radius:56px;-webkit-box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.2);box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.2)}.marvel-device.iphone8plus:before{width:calc(100% - 12px);height:calc(100% - 12px);position:absolute;top:6px;content:'';left:6px;border-radius:50px;background:#f8f8f8;z-index:1}.marvel-device.iphone8plus:after{width:calc(100% - 16px);height:calc(100% - 16px);position:absolute;top:8px;content:'';left:8px;border-radius:48px;-webkit-box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.1),inset 0 0 6px 3px #fff;box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.1),inset 0 0 6px 3px #fff;z-index:2}.marvel-device.iphone8plus .home{border-radius:100%;width:68px;height:68px;position:absolute;left:50%;margin-left:-34px;bottom:24px;z-index:3;background:#303233;background:linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%)}.marvel-device.iphone8plus .home:before{background:#f8f8f8;position:absolute;content:'';border-radius:100%;width:calc(100% - 8px);height:calc(100% - 8px);top:4px;left:4px}.marvel-device.iphone8plus .top-bar{height:14px;background:#bfbfc0;position:absolute;top:68px;left:0}.marvel-device.iphone8plus .bottom-bar{height:14px;background:#bfbfc0;position:absolute;bottom:68px;left:0}.marvel-device.iphone8plus .sleep{position:absolute;top:190px;right:-4px;width:4px;height:66px;border-radius:0px 2px 2px 0px;background:#d9dbdc}.marvel-device.iphone8plus .volume{position:absolute;left:-4px;top:188px;z-index:0;height:66px;width:4px;border-radius:2px 0px 0px 2px;background:#d9dbdc}.marvel-device.iphone8plus .volume:before{position:absolute;left:2px;top:-78px;height:40px;width:2px;border-radius:2px 0px 0px 2px;background:inherit;content:'';display:block}.marvel-device.iphone8plus .volume:after{position:absolute;left:0px;top:82px;height:66px;width:4px;border-radius:2px 0px 0px 2px;background:inherit;content:'';display:block}.marvel-device.iphone8plus .camera{background:#3c3d3d;width:12px;height:12px;position:absolute;top:29px;left:50%;margin-left:-6px;border-radius:100%;z-index:3}.marvel-device.iphone8plus .sensor{background:#3c3d3d;width:16px;height:16px;position:absolute;top:54px;left:154px;z-index:3;border-radius:100%}.marvel-device.iphone8plus .speaker{background:#292728;width:70px;height:6px;position:absolute;top:59px;left:50%;margin-left:-35px;border-radius:6px;z-index:3}.marvel-device.iphone8plus.gold{background:#f9e7d3}.marvel-device.iphone8plus.gold .top-bar,.marvel-device.iphone8plus.gold .bottom-bar{background:white}.marvel-device.iphone8plus.gold .sleep,.marvel-device.iphone8plus.gold .volume{background:#f9e7d3}.marvel-device.iphone8plus.gold .home{background:#cebba9;background:linear-gradient(135deg, #cebba9 0%, #f9e7d3 50%, #cebba9 100%)}.marvel-device.iphone8plus.black{background:#464646;-webkit-box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.7);box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.7)}.marvel-device.iphone8plus.black:before{background:#080808}.marvel-device.iphone8plus.black:after{-webkit-box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.1),inset 0 0 6px 3px #212121;box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.1),inset 0 0 6px 3px #212121}.marvel-device.iphone8plus.black .top-bar,.marvel-device.iphone8plus.black .bottom-bar{background:#212121}.marvel-device.iphone8plus.black .volume,.marvel-device.iphone8plus.black .sleep{background:#464646}.marvel-device.iphone8plus.black .camera{background:#080808}.marvel-device.iphone8plus.black .home{background:#080808;background:linear-gradient(135deg, #080808 0%, #464646 50%, #080808 100%)}.marvel-device.iphone8plus.black .home:before{background:#080808}.marvel-device.iphone8plus.landscape{padding:26px 112px;height:414px;width:736px}.marvel-device.iphone8plus.landscape .sleep{top:100%;border-radius:0px 0px 2px 2px;right:190px;height:4px;width:66px}.marvel-device.iphone8plus.landscape .volume{width:66px;height:4px;top:-4px;left:calc(100% - 188px - 66px);border-radius:2px 2px 0px 0px}.marvel-device.iphone8plus.landscape .volume:before{width:40px;height:2px;top:2px;right:-78px;left:auto;border-radius:2px 2px 0px 0px}.marvel-device.iphone8plus.landscape .volume:after{left:-82px;width:66px;height:4px;top:0;border-radius:2px 2px 0px 0px}.marvel-device.iphone8plus.landscape .top-bar{width:14px;height:100%;left:calc(100% - 68px -  14px);top:0}.marvel-device.iphone8plus.landscape .bottom-bar{width:14px;height:100%;left:68px;top:0}.marvel-device.iphone8plus.landscape .home{top:50%;margin-top:-34px;margin-left:0;left:24px}.marvel-device.iphone8plus.landscape .sensor{top:154px;left:calc(100% - 54px - 16px)}.marvel-device.iphone8plus.landscape .speaker{height:70px;width:6px;left:calc(100% - 59px - 6px);top:50%;margin-left:0px;margin-top:-35px}.marvel-device.iphone8plus.landscape .camera{left:calc(100% - 29px);top:50%;margin-left:0px;margin-top:-5px}